.center{
    margin-left: auto;
    margin-right: auto;
}

.thumbnailContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.comicsItem {
    margin: 1em;
    display: grid;
    align-content: center;
}
a.comicsItem {
    text-decoration: none;
    color: #202020;
}
.picture {
    height: auto;
    width: 100%;
    max-width: 100%;
}
